* {
  padding: 0;
  margin: 0;
}

.loader {
  top: -5vh;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

canvas {
  border: none;
  outline: none;
  overflow: hidden;
}
canvas:active {
  border: none;
  outline: none;
}

canvas:focus {
  border: none;
  outline: none;
}

.color-btn-wrapper {
  position: absolute;
  top: 90%;
  left: 35vw;
  z-index: 5;
}

.black {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #000000;
}
.light {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #767676;
}

.light:active,
.light:focus {
  outline: none;
}
.black:active,
.black:focus {
  outline: none;
}
.tan:active,
.tan:focus {
  outline: none;
}

@media screen and (min-width: 700px) {
  .color-btn-wrapper {
    position: absolute;
    top: 90%;
    left: 40vw;
    z-index: 5;
  }

  /* .grey {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #808080;
  } */
  .black {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #000000;
  }
  .light {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #767676;
  }

  .light:active,
  .light:focus {
    outline: none;
  }
  .black:active,
  .black:focus {
    outline: none;
  }
  .tan:active,
  .tan:focus {
    outline: none;
  }
}

@media screen and (min-width: 1200px) {
  .color-btn-wrapper {
    position: absolute;
    top: 90%;
    left: 40vw;
    z-index: 5;
  }

  /* .grey {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #808080;
  } */
  .black {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #000000;
  }
  .light {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #767676;
  }

  .black:active,
  .black:focus {
    outline: none;
  }
  .light:active,
  .green:focus {
    outline: none;
  }
  .light:active,
  .light:focus {
    outline: none;
  }
}
